<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>HTML</title>
</head>
<body>
    <header>
        <h1>HTML — для разметки контента</h1>
    </header>
    <div class="container">
        <p>Что такое HTML?
HTML (HyperText Markup Language) — это язык разметки, который используется для создания и структурирования веб-страниц. Он позволяет разработчикам организовывать текст, изображения, видео и другие элементы на сайте.

Основные характеристики HTML:
Структура веб-страницы: HTML определяет, как элементы на странице будут расположены и как они будут взаимодействовать друг с другом. Он задает структуру документа, включая заголовки, параграфы, списки и другие элементы.
Теги и элементы: HTML использует теги для обозначения различных частей контента. Каждый тег имеет свою функцию, например, для создания заголовков, ссылок или изображений.
Семантика: С введением HTML5 были добавлены семантические элементы, которые помогают улучшить понимание структуры страницы как для людей, так и для поисковых систем. Это делает контент более доступным и упрощает его индексирование.
Формы: HTML позволяет создавать формы для сбора данных от пользователей, таких как текстовые поля, кнопки и выпадающие списки.
Стилизация и интерактивность: HTML можно комбинировать с CSS для стилизации внешнего вида страниц и с JavaScript для добавления интерактивных элементов, что делает веб-страницы более динамичными и привлекательными.
Зачем нужен HTML?
HTML является основой веб-разработки. Он позволяет создавать структуры для веб-сайтов и приложений, обеспечивая основу для отображения информации в интернете. Без HTML веб-страницы не могли бы существовать, так как это основной язык, на котором строится вся веб-экосистема.</p>
        <h3>Краткий курс по HTML:</h3>
        <ul>
            <li>Основные теги: &lt;html&gt;, &lt;head&gt;, &lt;body&gt;</li>
            <li>Как создавать заголовки, параграфы и списки.</li>
            <li>Работа с изображениями и ссылками.</li>
        </ul>
    </div>
    <footer>
        <p>&copy; 2024 web by tecu. Все права защищены tecusey, убью за права.</p>
    </footer>
</body>
</html>
