<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Веб-Разработка с теку</title>
</head>
<body>
    <header>
        <h1>добро пожаловать в вселенную web-dev(a)!</h1>
            </ul>
        </nav>
    </header>
    <div class="container">
        <section id="technologies">
            <h2>Основные технологии:</h2>
            <ul>
                <li><a href="/html">HTML — для разметки контента</a></li>
                <li><a href="/css">CSS — для стилизации</a></li>
                <li><a href="/javascript">JavaScript — для интерактивности</a></li>
                <li><a href="/python">Python (Flask, Django) — для бэкенд разработки</a></li>

        </section>
        <section id="contact">
            <h2>Свяжитесь с нами</h2>
            <p>Почта: <a href="mailto:wizery17@gmail.com">wizery17@gmail.com</a></p>
            <p>Телеграм: <a href="https://t.me/jeoqoxn">@jeoqoxn</a></p>

    </div>
    <footer>
        <p>&copy; 2024 web by tecu. Все права защищены tecusey.</p>
    </footer>
</body>
</html>
