<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>JavaScript</title>
</head>
<body>
    <header>
        <h1>JavaScript — для интерактивности</h1>
    </header>
    <div class="container">
        <p>JavaScript — это высокоуровневый, интерпретируемый язык программирования, который широко используется для создания интерактивных и динамичных веб-страниц. Он был разработан в начале 1990-х годов и стал стандартом для веб-разработки.

Основные характеристики JavaScript:
Интерпретируемый язык: JavaScript выполняется в браузере, что позволяет динамически изменять содержимое веб-страниц без необходимости перезагрузки.
Объектно-ориентированный: JavaScript поддерживает объекты и прототипное наследование, что позволяет создавать сложные структуры данных и организовывать код.
Асинхронное программирование: JavaScript использует механизмы, такие как Promise, async/await, для работы с асинхронными операциями, что позволяет обрабатывать запросы к серверу и другие задачи, не блокируя выполнение кода.
Работа с DOM: JavaScript позволяет взаимодействовать с элементами HTML и CSS через DOM (Document Object Model), что дает возможность динамически изменять структуру и стиль веб-страниц.
Кроссплатформенность: JavaScript работает на различных устройствах и платформах, включая настольные компьютеры, мобильные телефоны и серверы (с помощью Node.js).
Широкая экосистема: JavaScript имеет множество библиотек и фреймворков, таких как React, Angular и Vue.js, которые упрощают разработку сложных веб-приложений.
JavaScript является основным языком для веб-разработки и продолжает развиваться, оставаясь актуальным инструментом для создания современных веб-приложений.</p>
        <h3>Краткий курс по JavaScript:</h3>
        <ul>
            <li>Основные конструкции: переменные, функции, циклы.</li>
            <li>Работа с DOM (Document Object Model).</li>
            <li>Создание простых анимаций и взаимодействий.</li>
        </ul>
    </div>
    <footer>
        <p>&copy; 2024 web by tecu. Все права защищены tecusey.</p>
    </footer>
</body>
</html>
